
.presentation-page .form-wrapper{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.presentation-page .form{
 width:60%;
}

.presentation-page .columns-container .default-content-wrapper img{
 margin-bottom: 10rem;
}